*{   
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
body{
    background-color: #c0c0c0;
}

.logoprincipal{
    background: linear-gradient(rgba(0,0,0,.10),rgba(0,0,0,.10)100%), url('../img/logo4.png');
    height: 400px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    background-color: thistle;
}
header nav a{
    text-decoration: none;
    color:darkslategray;
    margin-right: 15px;
    font-size: 20px;
}
header nav a:hover{
    color: #fff;
}

.item{
    margin-top: 25px;
	overflow: hidden;
}

.item img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.item:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.container{
    margin-left: 20px;
}

.subtitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkslategray;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 5px;
    
}

h4{
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    color: darkslategray;
}
.boxbolo .item{
    height: 10%;
    width: 10%;
    display: block;
}

.descricao{
    
   text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkslategray;
}
.contato{
    background-color: thistle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkslategray;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
   
}
.contato img{
    border-radius: 50%;
    border:rgb(218, 74, 122) solid;
    margin-top: 25px;
}
.email{
    margin-top: 25px;
}
footer{
    margin-top:65px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:thistle;
    color:darkslategray;
}   